.card {
  width: 290px;
  box-shadow: 5px 8px 15px -5px #777777;
  border-radius: 10px;
}

.cardName {
 padding: 0;
 font-size: 24px;
 margin-bottom: 10px;
 margin-top: 0;
}

.cardInfo {
 text-align: center;
}